# phpstorm project files
/app/pedido/.idea

# netbeans project files
/app/pedido/nbproject

# zend studio for eclipse project files
/app/pedido/.buildpath
/app/pedido/.project
/app/pedido/.settings

# windows thumbnail cache
/app/pedido/Thumbs.db

# composer vendor dir
/app/pedido/vendor

# composer itself is not needed
/app/pedido/composer.phar

# Mac DS_Store Files
/app/pedido/.DS_Store

# phpunit itself is not needed
/app/pedido/phpunit.phar
# local phpunit config
/app/pedido/phpunit.xml
